@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html{
    font-size: 18px;
    font-family: 'Montserrat';
    background-color: #dad395;;
    color: rgb(red, green, blue)
}

.youtube{
    padding-left: 510px;
    padding-right: 510px;
}
p{
    line-height: 25px;
}
h1{
    color: rgb(11, 167, 71);
    padding-left: 550px;
}

a:link{
    color: rgb(84, 82, 212)
}

a:visited{
    color:rgb(20, 120, 133)
}

img{
    max-width: 420px;
    max-height: 200px;
}